[Desktop Entry]
Version=2.3.8+41
Name=Lorem Ipsum Generator
Name[es]=Generador de Lorem Ipsum
Name[de]=Lorem Ipsum Generator
Name[fr]=Générateur Lorem Ipsum
Name[pt_BR]=Gerador de Lorem Ipsum
Name[it]=Generatore di Lorem Ipsum
Name[ru]=Генератор Lorem Ipsum
Name[ja]=Lorem Ipsum ジェネレーター
GenericName=Lorem Ipsum Generator
GenericName[es]=Generador de Lorem Ipsum
GenericName[de]=Lorem Ipsum Generator
GenericName[fr]=Générateur Lorem Ipsum
GenericName[pt_BR]=Gerador de Lorem Ipsum
GenericName[it]=Generatore di Lorem Ipsum
GenericName[ru]=Генератор Lorem Ipsum
GenericName[ja]=Lorem Ipsum ジェネレーター
Comment=Lorem Ipsum Generator
Comment[es]=Generador de Lorem Ipsum
Comment[de]=Lorem Ipsum Generator
Comment[fr]=Générateur Lorem Ipsum
Comment[pt_BR]=Gerador de Lorem Ipsum
Comment[it]=Generatore di Lorem Ipsum
Comment[ru]=Генератор Lorem Ipsum
Comment[ja]=Lorem Ipsum ジェネレーター
Terminal=false
Type=Application
Categories=Utility;
Keywords=Lorem, Ipsum, Lorem Ipsum, Generator;
StartupWMClass=loremgenerator
Exec=/usr/local/lib/loremgenerator/loremgenerator
TryExec=/usr/local/lib/loremgenerator/loremgenerator
Icon=app.rayadams.loremgenerator
