Package: loremgenerator
Version: 2.2.7+35
Section: utils
Architecture: amd64
Priority: optional
Depends: libgtk-4-1, libadwaita-1-0
Maintainer: Konstantin Adamov <xrayadamo@gmail.com>
Description: Lorem Ipsum Generator
 A simple and configurable Lorem Ipsum generator built with Rust, GTK4 and Relm4.
 .
 Features:
  * Generate Lorem Ipsum Text
  * Configurable Output (words, sentences, paragraphs)
  * Option to start with "Lorem ipsum" prefix
