[Desktop Entry]
Version=2.3.8+40
Name=Lorem Ipsum Generator
GenericName=Lorem Ipsum Generator
Comment=Lorem Ipsum Generator
Terminal=false
Type=Application
Categories=Utility;
Keywords=Lorem, Ipsum, Lorem Ipsum, Generator;
Icon=${SNAP}/meta/gui/loremgenerator.png
Exec=loremgenerator
StartupWMClass=loremgenerator
